* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Livvic', sans-serif;
    min-height: 100vh;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    background: #014E56;
    padding-top: 73px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav .header__list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    list-style-type: none;
}

.header__item {
    margin-left: 80px;
}

.header__item a{
    color: #fff;
    text-decoration: none;
    transition: all ease 0.3s;
}
.header__item:nth-child(2){
    display: flex;
    flex-grow: 1;  
    margin-left: 40px;
}
.header__item> a:hover  {
    color: #F67E7E;
}

.header__item:nth-child(3) > a{
    padding: 10px 32px;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s;
    font-weight: 600;
}
.header__item:nth-child(3):hover >a {
    background-color: #fff;
    color: #002529;
}

/* -----About */

.hero {
    background-image: url(../img/bg-about-right.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #014E56;
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;
}

.hero__text {
    position: relative;
    width: 730px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 38px;
}

.hero__text::before {
    position: absolute;
    top: -20px;
    content: '';
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
} 

/* -----direcors */

.dir {
    background-image: url(../img/thougth-top.svg), url(../img/bg-ditertor-left.png); 
    background-repeat: no-repeat;
    background-position: right bottom, left top;
    background-color: #004047;
    padding-top: 140px;
    padding-bottom: 140px;

}

.dir__inner {
    display: flex;
    flex-direction: column;
}

.dir__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.dir__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    margin-top: 64px;
}

.dir__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 350px;
    height: 253px;
    background-color: #012F34;
    position: relative;
}

.dir__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #F67E7E;
    position: absolute;
    bottom: -25px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.dir__plus::before{
    content: '';
    width: 16px;
    height: 4px;
    background-color: #012F34;
}
.dir__plus::after{
    content: '';
    width: 4px;
    height: 16px;
    background-color: #012F34;
    position: absolute;
}
.dir__plus:hover{
    background-color: #79C8C7;
}

.dir__card  > img {
    margin: 32px 0 16px 0;
    width: 96px;
    height: 96px;
}

.dir__card .dir__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}

.dir__card span {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

/* ---Clients */

.sponsor {
    background-image: url(../img/bg-clients.png);
    background-repeat: no-repeat;
    background-color: #012F34;
    padding-top: 140px;
    padding-bottom: 140px;
}
.sponsor__inner {
    display: flex;
    flex-direction: column;
}

.sponsor__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.sponsor__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type:none;
    margin-top: 64px;
}


/* --footerbefore */

.footerBefore {
    background-image: url(../img/bg-footer-before.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #F67E7E;
}

.footerBefore__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 76px auto;
}
.footerBefore__title {
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
    margin-left: 100px;
}

.footerBefore__contact {
    margin-right: 100px;
    color:  #012F34;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 33px;
    border: 2px solid #012F34;
    border-radius: 30px;
    transition: all ease 0.3s;
}
.footerBefore__contact:hover {
    color:  #fff;
    background-color: #012F34;
}


/* --footer */
.footer {
    background-color: #002529;
    padding: 48px 0;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 159px;
    margin-right: 125px;
}

.footer__menu .footer_logo a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    transition: all ease 0.3s;
}
.footer__menu .footer_logo a:hover {
    color: #F67E7E;
}

.footer__menu .footer_logo:nth-child(2) {
    display: flex;
    flex-grow: 1;   
}

.footer__adress {
    display: flex;
    flex-grow: 1;
}

.footer__list {
    list-style-type: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.footer__icons{
    display: flex;
    flex-direction: column;
}
.footer__list--icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

.footer__item--icon:nth-child(2){
    padding: 0 16px;
}

.footer__icons p{
    margin-top: 49px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}